/* Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:ital,wght@1,300&display=swap');

/*Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Overall project styling */
    color: black;
    font-family: 'Lato', sans-serif ;
}

/*Header*/
header {
    background-color: red;

}

/* Main content */
main {
    background-color: white;
    /*Main content take up margin of the space */
    flex: 1 0 auto;
}


/*Footer*/
footer {
    background-color: red;
}