/* Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Kalam:wght@700&family=Lato:ital,wght@1,300&display=swap');

/*Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Overall project styling */
    color: black;
    font-family: 'Lato', sans-serif;
}

/*Header*/
header {
    background-color: #dadaad;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'kalam', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    
}

#nav {
    font-size: 120%;
    letter-spacing: 3px;
    color: white;
    list-style-type: none;
}

#nav > li {
    margin-bottom: 2px;
}

.push {
    border-bottom: 2px solid white ;
}

/* Main content */
main {
    background-color: white;
    /*Main content take up margin of the space */
    flex: 1 0 auto;
}


/*Footer*/
footer {
    background-color: #dadaad;
    box-shadow: 0 -2px 2px #3a3a3a;
}