/* Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Lato:ital,wght@1,300&family=Oswald:wght@200;300;400;500&display=swap');

/*Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Overall project styling */
    color: black;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Caveat', sans-serif;
    font-size: 230%;
    letter-spacing: 2px;
    color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Caveat', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

h3 {
    padding: 2px 5px;
}

p {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 5px;
}



/*Header*/
header {
    background-color: white;
    padding: 10px 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 10px black;
    position: fixed;
}

header a {
    text-decoration: none;
    color: inherit;
}


/*Nav*/

#menu ul {

    background-color: white;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    list-style-type: none;
    gap: 10px;

}


.active {
    border-bottom: 2px solid black;
}


/* Main content */
main {

    /* So Main content take up more space */
    flex: 1 0 auto;
    margin-top: 99px;

}

/*Hero section */

#hero {
    height: fit-content;
    width: 100%;
    background: url("../images/football.jpg") no-repeat center center/cover;
    position: relative;
}

#cover {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255 / 70%);
    width: fit-content;
    border-radius: 20px;
    margin: 3px;
    padding: 10px 5px;
}

#picture-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mypicture {
    width: 280px;
    height: 100%;
    border-radius: 20px;
    padding: 5px 5px;
}

#family {

    width: 100%;
    height: 300%;
}

#football {

    width: 100%;
    height: 300%;


}

#my-self {

    width: 100%;
    height: 300%;

}

/*Footer*/
footer {
    background-color: white;
    box-shadow: 0 -2px 10px black;
    padding: 5px;

}

#social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 200%;
}

#social-media i {
    color: rgba(28, 27, 27, 0.725);
}

/* Media query, larger  (300px and up) */

@media screen and (min-width:300px) {
    #cover {
        margin-top: 14px;
    }

}

@media screen and (min-width: 768px) {

    /* Header */

    nav {
        position: relative;
    }

    h1 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #logo {
        font-size: 300%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #menu ul {
        display: flex;
        justify-content: flex-end;
        font-size: 150%;

    }

    /* About Me section */
    #cover {
        margin-top: 39px;
    }

    #mypicture {
        width: 400px;
        height: 244px;
        margin-top: 2em;
    }

    #hero {
        height: fit-content;
    }

}

@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 2px solid black;
    }

    #cover {
        width: 80%;
        margin: 1px 0px 0px 118px;
    }

    #picture-bg {
        display: flex;
        justify-content: center;
    }

    #mypicture {
        width: 440px;

    }

}

@media screen and (min-width: 1200px ) {

    #cover {
        width: 86%;
        margin: 1px 0px 0px 84px;
    }

}